.box-container {
  max-width: 18rem;
  max-height: 21rem;
  border-radius: 0.5rem;
  overflow: hidden;

  &:hover > .slider-container {
    transform: translateY(-3rem);
  }

  &:hover #btn {
    transition: 1s;
    display: inline-block;
  }
}

.slider-container {
  padding: 0.5rem;
  text-align: center;
  background-color: #414141;
  width: auto;
  height: 9rem;
  transition: transform 0.6s;
}

.image {
  width: 100%;
}

#btn {
  display: none;
}
